/* Colori principali */
/* Rosso: rgb(196,19,41); */
/* bianco: white; */
/* verde:rgb(0,108,103); */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
}


header h1{
  text-align: center;
  color: rgb(0,108,103);
  text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

h2{
  margin-bottom: 15px;
}


.flex-gallery{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}


.polaroid{
  width:50%;
  background-color:white;
  padding: 30px;
  padding-bottom: 100px;
  margin-bottom: 30px;
  border-radius: 15px;
  border: 2px solid rgba(196,19,41,0.5);
  box-shadow: 0px 0px 30px rgba(196,19,41,0.2);
  /* border: 1px solid black; */
}


.img-container{
  width:100%;
  position: relative;
}

.sfondo{
  max-width: 100%;;
}

.img-on-top{
  position: absolute;
  max-width: 50%;

  /* border: 1px solid violet; */
}

.polaroid .text-container{
  text-align: center;
  padding-top:15px;
}

.polaroid .text-container .titolo{
  display: block;
  font-size:24px;
  font-weight: bold;
  margin-bottom:15px;
}

.polaroid .text-container .subtitolo{
  display: block;
  font-size:16px;
  color: #777;
}


.btn-compra{
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(196,19,41);
  border-radius: 10px;
  margin-bottom: 15px;
}

.tab-riepilogo{
  border: 1px solid black;
  border-radius: 5px;
}

.tab-riepilogo td{
  padding: 5px 5px;
  color: #999;
}

.tab-riepilogo tr:last-child{
  font-weight: bold;

}

.tab-riepilogo tr:last-child td{
  border-top: 2px solid rgb(196,19,41);
  color: black;
  font-size: 20px;
}
